In [1]:
l=list(range(15))

In [2]:
l

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

In [3]:
m=list(map(lambda x: x*x, l))
m

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196]

In [4]:
n=[x for x in m if x%2==0]
n

[0, 4, 16, 36, 64, 100, 144, 196]

# This is Header 1
### And Header3
Normal text

In [6]:
list(filter(lambda x: x%2==0, l))

[0, 2, 4, 6, 8, 10, 12, 14]

In [11]:
from functools import reduce 
reduce(lambda x,y: x+y, l)

105

In [12]:
t=12,"once upon a time", False

In [13]:
t

(12, 'once upon a time', False)

In [14]:
type(t)

tuple

In [1]:
t+t

NameError: name 't' is not defined

In [9]:
import random
from functools import reduce
x = [[random.randint(0,10) for i in range(2)] for j in range(10)]
reduce(lambda a,b: a+b, x)

[0, 5, 10, 0, 10, 6, 4, 1, 9, 4, 3, 4, 4, 7, 2, 7, 4, 3, 10, 8]

In [12]:
d={1:'Un',2:'Deux',3:'Trois'}

In [13]:
d.keys()

dict_keys([1, 2, 3])

In [14]:
d.values()

dict_values(['Un', 'Deux', 'Trois'])

In [15]:
d.items()

dict_items([(1, 'Un'), (2, 'Deux'), (3, 'Trois')])

In [16]:
k=d.keys()

In [17]:
d[4]='Quatre'

In [18]:
k

dict_keys([1, 2, 3, 4])

In [19]:
d =  dict(zip(['one', 'two', 'three'], [1, 2, 3]))

In [20]:
d

{'one': 1, 'three': 3, 'two': 2}

In [21]:
d.update({"x": 1, "y": 2})

In [22]:
d

{'one': 1, 'three': 3, 'two': 2, 'x': 1, 'y': 2}

In [29]:
s1={2,3,5,7,11}
s2={1,2,3,4}
print(s1.union(s2))
print(s1.intersection(s2))
print(s1.difference(s2))
print(s2.difference(s1))
print(s1.symmetric_difference(s2))
print(s1.union(s2).difference(s1.intersection(s2)))
print(s1.intersection(s2).issubset(s1.union(s2)))
print(s1.union(s2)>=s1.intersection(s2))

{1, 2, 3, 4, 5, 7, 11}
{2, 3}
{11, 5, 7}
{1, 4}
{1, 4, 5, 7, 11}
{1, 4, 5, 7, 11}
True
True

In [30]:
mylist = [1,2,3,4,5]
myiter = iter(mylist)
while myiter:
    try:
        print(next(myiter))
    except StopIteration:
        break

1
2
3
4
5

In [34]:
t = (n for n in range(5))
it = iter(t)
while it:
    try:
        print(next(it))
    except StopIteration:
        break

0
1
2
3
4